In [1]:
a = 45
print(a)

45

In [6]:
a = 35
b = 12.5
c = "Hillson"
d = True

print(a,b,c,d)
print(type(a))
print(type(b))
print(type(c))
print(type(d))

35 12.5 Hillson True
<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [11]:
c = "hello world"
c = '''Hello world'''
print(c)

Hello world

In [15]:
a = 45
b = 65
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a**b)
print(a//b)
print(a%b)

110
-20
2925
0.6923076923076923
287616233996758386293038843954684893419910825453736049472704152632669682976285230324720032513141632080078125
0
45

In [17]:
a = "Hello "
b = "World"
c = a + b
print(c)

Hello World

In [18]:
a = "Hello World "
print(a*3)

Hello World Hello World Hello World

In [19]:
a = True
b = False 
print(a+b)

1

In [20]:
a = 10
print(type(a))

<class 'int'>

In [21]:
str(a)

'10'

In [23]:
a = 10.5
b = str(a)
b

'10.5'

In [24]:
a = 10.4
b = int(a)
b

10

In [25]:
a = 10
b = float(a)
b

10.0

In [27]:
a = 10
b = 34
print(a+b)

44

In [28]:
a = 2
b = bool(a)
b

True

In [37]:
name = "Hillson"
age = 21
add = "Kathmandu"

info = "Hello world i am " + str(age)
print(info)

Hello world i am 21

In [42]:
name = input("Enter your name ")
age = int(input("enter age = "))
add = input("Enter add = ")

Enter your name Hillson
enter age = 21
Enter add = Kathmandu

In [1]:
a = 10
print(a < 5)

False

In [2]:
# if (condition):
#     (operations)
# elif (condition):
#     (operations)
# else:
#     (operations)

In [3]:
x = int(input("Enter the value of x= "))
if x>0:
    print("The number is positive")
else:
    print("The number is negative")

Enter the value of x= 5
The number is positive

In [4]:
x = int(input("enter the value of x: "))
if x%2==0:
    print("The given number is even")
else:
    print("The number is odd")

enter the value of x: 4
The given number is even

In [1]:
a = int(input("enter the value:"))
b = int(input("enter the value:"))
if a>b:
    print("a is greater than b")
elif b>a:
    print('b is greater than a')
else:
    print("a and b are equal!")

enter the value:4
enter the value:6
b is greater than a

In [2]:
a = int(input("Enter 1st number: "))
b = int(input("Enter 2nd number: "))
o = input("Enter an operator: ")
if o=="+":
    print(a+b)
elif o=="-":
    print(a-b)
elif o=="*":
    print(a*b)
elif o=="/":
    print(a/b)
else:
    print("Enter a valid operator")

Enter 1st number: 3
Enter 2nd number: 4
Enter an operator: -
-1

In [5]:
english = int(input("Enter english marks: "))
maths = int(input("Enter maths marks: "))
physics = int(input("Enter physics marks: "))
chemistry = int(input("Enter chemistry mark: "))

total = english + maths + physics + chemistry

per = total/4

if per >= 80:
    Grade = "A"
elif per >= 60:
    Grade = "B"
elif per >=45:
    Grade = "C"
else:
    Grade = "F"

print("Total= ",total)
print("per= ",per)
print("Grade",Grade)

Enter english marks: 54
Enter maths marks: 53
Enter physics marks: 532
Enter chemistry mark: 34
Total=  673
per=  168.25
Grade A

In [8]:
# logical operators[and(&),or(|),not(^)]
print(True and False)
print(False and True)
print(True and True)

False
False
True

In [9]:
print(True or False)
print(False or True)
print(True or True)

True
True
True

In [10]:
a = int(input("Enter 1st number: "))
b = int(input("Enter 2nd number: "))
o = input("Enter an operator: ")
if o=="+":
    print(a+b)
elif o=="-":
    print(a-b)
elif o=="*":
    print(a*b)
elif o=="/" and b != 0:
    print(a/b)
elif o=="/" and b == 0:
    print("The value of b can not be zero")
else:
    print("Enter a valid operator")

Enter 1st number: 4
Enter 2nd number: 3
Enter an operator: /
1.3333333333333333

In [11]:
english = int(input("Enter english marks: "))
maths = int(input("Enter maths marks: "))
physics = int(input("Enter physics marks: "))
chemistry = int(input("Enter chemistry mark: "))

total = english + maths + physics + chemistry

per = total/4

if per >= 80 or per ==80:
    Grade = "A"
elif per >= 60 or per ==60:
    Grade = "B"
elif per >=45 or oer ==45:
    Grade = "C"
else:
    Grade = "F"

print("Total= ",total)
print("per= ",per)
print("Grade",Grade)

Enter english marks: 43
Enter maths marks: 45
Enter physics marks: 45
Enter chemistry mark: 64
Total=  197
per=  49.25
Grade C

In [12]:
x = int(input("Enter the value of x: "))
if x >= 0 and x%2==0:
    print("The vlaue of x is positive and even")
elif x >= 0 and x%2!=0:
    print("The value of x is positive and odd")
elif x < 0 and x%2==0:
    print("THe value of x is negative and even")
else:
    print("The value of x is negative and odd")

Enter the value of x: 5
The value of x is positive and odd

In [13]:
# # nested if/else statement
# if <conditions>:
#     if <conditions>:
#         <operations>
#         else:
#             <opeations>
# else:
# #     <operations>

In [17]:
x = int(input("Enter x = "))
if x >=0:
    if x%2 == 0:
        print("THe value of x is positive and even")
    else:
        print("The value of x is positive and odd")
else:
    if x%2 == 0:
        print("THe value of x is negative and even")
    else:
        print("The value of x is negative and odd")

Enter x = 5
The value of x is positive and odd

In [18]:
a = int(input("Enter 1st number: "))
b = int(input("Enter 2nd number: "))
o = input("Enter an operator: ")
if o=="+":
    print(a+b)
elif o=="-":
    print(a-b)
elif o=="*":
    print(a*b)
elif o=="/":
    if b != 0:
        print(a/b)
    else:
        print("The value of b can not be 0 while 0 = /")
else:
    print("Enter a valid operator")

Enter 1st number: 5
Enter 2nd number: 6
Enter an operator: /
0.8333333333333334

In [30]:
english = int(input("Enter english marks: "))
maths = int(input("Enter maths marks: "))
physics = int(input("Enter physics marks: "))
chemistry = int(input("Enter chemistry mark: "))

if english >=32 and maths >=32 and physics >=32 and chemistry >=32:
    total = english + maths + physics + chemistry

per = total/4

if per >= 80 or per ==80:
    Grade = "A"
elif per >= 60 or per ==60:
    Grade = "B"
elif per >= 45 or per ==45:
    Grade = "C"
    else:
         Grade = "D"

print("Total= ",total)
print("per= ",per)
print("Grade",Grade)
print("english:, maths:, physics:, chemistry: ",english, maths, physics, chemistry)
else:
    print("Grade = F")

SyntaxError: invalid syntax (4280357532.py, line 17)

In [32]:
# # Loop in python
# for loop 
# # while loop

In [ ]:
# # for loop
# range(5)
# range(1,5)
# range(1,10,2)

In [35]:
for i in range(1,5):
    print(i, "Hillson")

1 Hillson
2 Hillson
3 Hillson
4 Hillson

In [36]:
for i in range(1,10,2):
    print(i,"Hillson")

1 Hillson
3 Hillson
5 Hillson
7 Hillson
9 Hillson

In [38]:
for i in range(10,-1,-1):
    print(i, "Hillson")

10 Hillson
9 Hillson
8 Hillson
7 Hillson
6 Hillson
5 Hillson
4 Hillson
3 Hillson
2 Hillson
1 Hillson
0 Hillson

In [44]:
#wap to create a multiplication table
d = int(input("Enter d = "))
for i in range(1,11):
    print(d,"*",i,"=",d*i)

Enter d = 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [ ]:
for i in range(5):
    x = int(input("Enter tha value of x: "))
    print("you entered",x)

Enter tha value of x: 6
you entered 6

In [1]:
s = 0
n = int(input("Enter the value: "))
for i in range(n):
    x = int(input("Enter x = "))
    s = s + x
    print("sum",s)

Enter the value: 5
Enter x = 2
sum 2
Enter x = 1
sum 3
Enter x = 2
sum 5
Enter x = 3
sum 8
Enter x = 4
sum 12

In [5]:
s = ""
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter x = ")
    y = int(input("Enter your no: "))
    s = s + x + " " + str(y) + "\n"
    
    
print(s)

Enter n = 2
Enter x = s
Enter your no: 234
Enter x = e
Enter your no: 42
s 234
e 42

In [6]:
# for loop in string

In [9]:
a = "Hello world"
for i in a:
    print(i, end= "")

Hello world

In [10]:
a = "Hello world"
for i in a:
    print(i, "Hello world")

H Hello world
e Hello world
l Hello world
l Hello world
o Hello world
  Hello world
w Hello world
o Hello world
r Hello world
l Hello world
d Hello world

In [3]:
a = "Hello world! i am python."
for i in a:
    if i != ".":
        print(i, end="")

Hello world i am python

In [4]:
a = "Hello world!. i am python"
for i in a:
    if i != "." and i !="!":
        print(i, end="")

Hello world i am python

In [5]:
for i in range(5):
    print(i*"0")

0
00
000
0000

In [8]:
for i in range(5):
    print((2*i-1)*"o",i*"o")

o o
ooo oo
ooooo ooo
ooooooo oooo

In [12]:
n = 10
for i in range(n):
    print((n-i)*" ",(2*i-1)*"o")

          o
         ooo
        ooooo
       ooooooo
      ooooooooo
     ooooooooooo
    ooooooooooooo
   ooooooooooooooo
  ooooooooooooooooo

In [13]:
n = 10
for i in range(n):
    print((n-i)*" ",(2*i-1)*"o")
for i in range(n,0,-1):
    print((n-i)*" ",(2*i-1)*"o")

          o
         ooo
        ooooo
       ooooooo
      ooooooooo
     ooooooooooo
    ooooooooooooo
   ooooooooooooooo
  ooooooooooooooooo
 ooooooooooooooooooo
  ooooooooooooooooo
   ooooooooooooooo
    ooooooooooooo
     ooooooooooo
      ooooooooo
       ooooooo
        ooooo
         ooo
          o

In [14]:
# # control statement
# break
# continue 
# pass

In [16]:
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [18]:
for i in range(10):
    if i == 5:
        continue
    print(i, end = " ")

0 1 2 3 4 6 7 8 9

In [19]:
for i in range(5):
    pass

In [24]:
a = "Hello world. I am Hillson."
for i in a:
    if i ==".":
        continue
    print(i,end="")

Hello world I am Hillson

In [32]:
a = "sachin,gautam,sandip,pooja"
for i in a:
    if i ==",sandip":
        break
    print(i,end="")

sachin,gautam,sandip,pooja

In [29]:
n = int(input("enter n= "))
for i in range(1,n*11):
    if i%n !=0:
        continue
    print(i)

enter n= 4
4
8
12
16
20
24
28
32
36
40

In [ ]:
# while <condtiton>
#        <operations>

In [1]:
a = 0
while a<=5:
    print(a)
    a = a+1

0
1
2
3
4
5

In [2]:
a = 0
while a<5:
    print(a,"Hello world")
    a = a+1

0 Hello world
1 Hello world
2 Hello world
3 Hello world
4 Hello world

In [4]:
i = 1
n = int(input("Enter n = "))
while i<=10:
    print(n,"*",i,"=",n*i)
    i = i+1

Enter n = 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [1]:
i = 0
s = 0
n = int(input("Enter n = "))
while i<n:
    x = int(input("Enter x = "))
    s = s + x
    i = i + 1
    print("sum =",s)

Enter n = 5
Enter x = 4
sum = 4
Enter x = 2
sum = 6
Enter x = 3
sum = 9
Enter x = 4
sum = 13
Enter x = 5
sum = 18

In [1]:
i = 1
fac = 1
n = int(input("Enter n = "))
while i<=n:
    fac = fac * i
    i = i + 1
    print(fac)

Enter n = 5
1
2
6
24
120

In [3]:
s = ""
i = 0
n = int(input("Enter n = "))
while i<n:
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    s = s + name + " " + phone + "\n"
    i = i + 1
print(s)

Enter n = 2
Enter name = h
Enter phone = 3
Enter name = h
Enter phone = 4
h 3
h 4

In [1]:
# control statement in while loop
i = 0
while i<10:
    if i == 5:
        i = i + 1
        continue
    print(i)
    i = i+1

0
1
2
3
4
6
7
8
9

In [1]:
# Wap to find if the given number is prime or composite
# Assignment number 1
n = int(input("Enter n = "))
i = 1
count = 0
while (i<=n):
    if(n%i==0):
        count = count + 1
    i = i + 1
if(count == 2):
    print("The entered number is prime.")
else:
    print("The entered number is composite.")

Enter n = 11
The entered number is prime.

In [2]:
#Strings
a = "Hello world"
b = 'Hello world'
c = '''Hello world'''
print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'str'>
<class 'str'>

In [4]:
a = "Hello "
b = "world"
c = a + b
print(c)

Hello world

In [5]:
a = "Hello world\n"
print(a*2)

Hello world
Hello world

In [7]:
a = "Hello world"
print(a[0])
print(a[4])

H
o

In [9]:
a = "Hello world"
print(a[0:5])
print(a[0:10:2])

Hello
Hlowr

In [10]:
a = "Hello world"
print(len(a))

11

In [13]:
a = "Hello world"
for i in range(len(a)):
    print(a[i], end = "")

Hello world

In [15]:
i = 0
a = "Hello world"
while i<len(a):
    print(a[i], end = "")
    i = i+1

Hello world

In [19]:
# string formatting
name = "Hillson"
age = 21
add = "Kathmandu"

# info = "Hello world i am " + name + " I am from " + add + " i am " + str(age) + " years old."
info = f"Hello world i am {name} i am from {add} i am {age} years old."
print(info)

Hello world i am Hillson i am from Kathmandu i am 21 years old.

In [20]:
s = ""
i = 0
n = int(input("enter n = "))
while i<n:
    name = input("enter name = ")
    phone = input("Enter phone = ")
    s = s + f"{name} {phone}\n"
    i = i+1
print(s)

enter n = 2
enter name = Hillson
Enter phone = 07
enter name = diaz
Enter phone = 10
Hillson 07
diaz 10

In [22]:
# search in string
a = "Hillson sachin diaz sambhav dipson appu"
search = input("enter search value = ")
if search in a:
    print("Yes")
else:
    print("No")

enter search value = ram
No

In [24]:
a = "ram shyam sachin diax hillson"
print(a.upper())
print(a.lower())
print(a)

RAM SHYAM SACHIN DIAX HILLSON
ram shyam sachin diax hillson
ram shyam sachin diax hillson

In [26]:
# search in string
a = "Hillson sachin diaz sambhav dipson appu".lower()
search = input("enter search value = ").lower()
if search in a:
    print("Yes")
    print(a.count(search))
else:
    print("No")

enter search value = SAchin
Yes
1

In [27]:
# replace
a = "Hillson sachin diaz sambhav dipson appu"
a = a.replace("Hillson","Hill")
print(a)

Hill sachin diaz sambhav dipson appu

In [28]:
# replace
a = "Hillson sachin diaz sambhav dipson appu"
a = a.replace("Hillson","")
print(a)

 sachin diaz sambhav dipson appu

In [29]:
# split
a = "Hillson sachin diaz sambhav dipson appu"
a.split()

['Hillson', 'sachin', 'diaz', 'sambhav', 'dipson', 'appu']

In [1]:
# Assignment number 2
i = 0
count = 0
a = "Hello world i am python"
while i<(len(a)):
    if a[i] == " ":
        print(i)
    
    count = count + 1
    print(a[i])
    i = i + 1
print("The space in string is: ", count)

H
e
l
l
o
5

w
o
r
l
d
11

i
13

a
m
16

p
y
t
h
o
n
The space in string is:  23

In [2]:
# # python data collection
# list 
# tuple
# dict 
# set

In [3]:
# # list 
# indexing
# multiple and duplicate data
# ordred 
# mutable

In [4]:
# l = list()
l = ["Apple","Ball","Cat","Dog","Fish"]
a = [1,2,3,4,5,6,7,8,9,0]
print(type(l))
print(type(a))

<class 'list'>
<class 'list'>

In [10]:
l = ["Apple","Ball","Cat","Dog","Fish"]
print(l)
print(l[0])
print(l[0:4])
print(l[0:4:2])

['Apple', 'Ball', 'Cat', 'Dog', 'Fish']
Apple
['Apple', 'Ball', 'Cat', 'Dog']
['Apple', 'Cat']

In [11]:
a = [1,2,3,4]
b = [5,6,7,8,9]
c = a+b
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
a = [1,2,3,4]
print(a*2)

[1, 2, 3, 4, 1, 2, 3, 4]

In [13]:
l = ["Apple","Ball","Cat","Dog","Fish"]
for i in l:
    print(i)

Apple
Ball
Cat
Dog
Fish

In [17]:
l = ["Apple","Ball","Cat","Dog","Fish"]
search = input('Enter search: ')
if search in l:
    print("yes")
    print(l.count(search))
else:
    print("No")

Enter search: Ball
yes
1

In [ ]:
# append() extend() insert()

In [18]:
a = []
a.append("Apple")
a.append("Cat")
a.append("Dog")
print(a)

['Apple', 'Cat', 'Dog']

In [19]:
l = []
n = int(input("enter the value of n: "))
for i in range(n):
    x = int(input("Enter the value of x: "))
    l.append(x)
    
print(l)

enter the value of n: 3
Enter the value of x: 4
Enter the value of x: 5
Enter the value of x: 6
[4, 5, 6]

In [24]:
l = [12,34,53,53,43,2,42,54]
print("Maximum value = ",max(l))
print("Minimum value = ",min(l))
print("Sum of list = ",sum(l))
l.sort()
print(l)

Maximum value =  54
Minimum value =  2
Sum of list =  293
[2, 12, 34, 42, 43, 53, 53, 54]

In [22]:
a = ["Ball","Cat","zoo","Love"]
a.sort()
print(a)

['Ball', 'Cat', 'Love', 'zoo']

In [25]:
a = ["Ball","Cat","zoo","Love"]
a.insert(1,"Hillson")
print(a)

['Ball', 'Hillson', 'Cat', 'zoo', 'Love']

In [26]:
a = [1,2,3,7,5,6,9]
b = [0,4,5,6,2,7,3]
a.extend(b)
print(a)

[1, 2, 3, 7, 5, 6, 9, 0, 4, 5, 6, 2, 7, 3]

In [27]:
# del remove() pop()

In [28]:
a = ["Ball","Cat","zoo","Love"]
del a[0]
print(a)

['Cat', 'zoo', 'Love']

In [32]:
a = ["Ball","Cat","zoo","Ink"]
del a[0:2]
print(a)

['zoo', 'Ink']

In [41]:
a = ["Ball","Cat","zoo","Ink","Cat"]
c = a.count("Cat")
for i in range(c):
    a.remove("Cat")
print(a)

['Ball', 'zoo', 'Ink']

In [44]:
a = ["Ball","Cat","zoo","Ink","Cat"]
c = len(a)
for i in range(c):
    if "Ball" == a[i]:
        print(i)

0

In [46]:
list = 'Hillson' , 5 , 1 , 2 , 7 , 0 , 4 , 9 , 6 , 'sachin'
print("Accesing the list")

print(list[-2])

Accesing the list
6

In [47]:
odd_square = [x ** 2 for x in range(1,11) if x % 2 == 1]
print(odd_square)

[1, 9, 25, 49, 81]

In [48]:
odd_square = []
for x in range(1,11):
    if x % 2 == 1:
        odd_square.append(x**2)
print(odd_square)

[1, 9, 25, 49, 81]

In [49]:
# dictonary
# -indexing
# -ordered
# -multiple and duplicate data
# -mutable

In [50]:
# d = {<key>:<value>, <key>:<value>,....}

In [51]:
d = {'a':'apple','b':'ball','c':'cat'}
print(type(d))

<class 'dict'>

In [52]:
print(d['a'])

apple

In [53]:
d = {'a':'apple','b':'ball','c':'cat'}
print(d)
print(type(d))

{'a': 'apple', 'b': 'ball', 'c': 'cat'}
<class 'dict'>

In [55]:
d = {'a':'apple','b':'ball','c':'cat','C':'cow'}
print(d)

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'C': 'cow'}

In [58]:
a = {'a':'apple','b':'ball','c':'cat'}
b = {1:1,2:4,3:9}
a.update(b)
print(a)

{'a': 'apple', 'b': 'ball', 'c': 'cat', 1: 1, 2: 4, 3: 9}

In [60]:
a = {'a':'apple','b':'ball','c':'cat'}
for i in a:
    print(i,end='')

abc

In [62]:
a = {'a':'apple','b':'ball','c':'cat'}
for i in a.values():
    print(i,end=' ')

apple ball cat

In [65]:
a = {'a':'apple','b':'ball','c':'cat','C':'Cow'}
for i in a.items():
    print(i,end=' ')

('a', 'apple') ('b', 'ball') ('c', 'cat') ('C', 'Cow')

In [68]:
# create 
# d = dict()
d = {}
d['a'] = "Animal"
d['b'] = "Brother"
d['c'] = "Cat"
print(d)

{'a': 'Animal', 'b': 'Brother', 'c': 'Cat'}

In [71]:
# update
d = {'a': 'Animal', 'b': 'Brother', 'c': 'Cat'}
d['a'] = "Ant"
print(d)

{'a': 'Ant', 'b': 'Brother', 'c': 'Cat'}

In [72]:
# del pop()
d = {'a': 'Animal', 'b': 'Brother', 'c': 'Cat'}
del d['a']
print(d)

{'b': 'Brother', 'c': 'Cat'}

In [74]:
d = {'a': 'Animal', 'b': 'Brother', 'c': 'Cat'}
b = d.pop('a')
print(b)
print(d)

Animal
{'b': 'Brother', 'c': 'Cat'}

In [77]:
# list inside dictionary
info = {'Hillson':[9816964352,9876543210],
        'sachin':[9741722489,94375239754],
        'suyog':[9825925969,38495892378]}
print(info)

{'Hillson': [9816964352, 9876543210], 'sachin': [9741722489, 94375239754], 'suyog': [9825925969, 38495892378]}

In [78]:
info['Hillson']

[9816964352, 9876543210]

In [79]:
print(info['Hillson'])
print(info['Hillson'][0])

[9816964352, 9876543210]
9816964352

In [81]:
info['Hillson'][1] = 93485983457
info

{'Hillson': [9816964352, 93485983457],
 'sachin': [9741722489, 94375239754],
 'suyog': [9825925969, 38495892378]}

In [2]:
d = {}
n = int(input("Enter n: "))
for i in range(n):
    name = input("enter the name: ")
    ntc = input("Enter ntc no: ")
    ncell = input("Enter ncell no: ")
    d[name] = [ntc,ncell]
print(d)

Enter n: 2
enter the name: hillson
Enter ntc no: 98426753244
Enter ncell no: 9816964352
enter the name: suyog
Enter ntc no: 9343982477
Enter ncell no: 9825925969
{'hillson': ['98426753244', '9816964352'], 'suyog': ['9343982477', '9825925969']}

In [3]:
d = {'name':['Ram','sachin'],
    'ntc':[9874574894,894478634],
    'ncell':[98349473,98435798347]}
print(d['name'][0],d['ntc'][0],d['ncell'][0])

Ram 9874574894 98349473

In [7]:
d = {'name':['Ram','sachin'],
    'ntc':[9874574894,894478634],
    'ncell':[98349473,98435798347]}
index = int(input("Enter an index(0 or 1): "))
a = {}

for i in d:
    value = d[i][index]
    
    a[i] = value

print("value at index", index, ":", a)

Enter an index(0 or 1): 1
value at index 1 : {'name': 'sachin', 'ntc': 894478634, 'ncell': 98435798347}

In [2]:
# dict inside list
d = [{'name':'ram','age':22,'add':'kathmandu'},
    {'name': 'shyam','age':25,'add':'jhapa'},
    {'name': 'hari','age':28,'add':'bhaktapur'},
    {'name': 'sita','age':21,'add':'morang'},]
print(d)

[{'name': 'ram', 'age': 22, 'add': 'kathmandu'}, {'name': 'shyam', 'age': 25, 'add': 'jhapa'}, {'name': 'hari', 'age': 28, 'add': 'bhaktapur'}, {'name': 'sita', 'age': 21, 'add': 'morang'}]

In [3]:
print(d[0])
print(d[0]['name'])

{'name': 'ram', 'age': 22, 'add': 'kathmandu'}
ram

In [11]:
l = []
n = int(input("Enter n: "))
for i in range(n):
    name = input("Enter name: ")
    ntc = input("Enter ntc no: ")    
    ncell = input("Enter ncell no: ")
    d = {'name':name,'ntc':ntc,'ncell':ncell}
    l.append(d)
print(l)

Enter n: 1
Enter name: fw
Enter ntc no:
Enter ncell no:
[{'name': 'fw', 'ntc': '', 'ncell': ''}]

In [6]:
l[1]

{'name': 'suyog ', 'ntc': '98348393443', 'ncell': '9825925969'}

In [7]:
info = {1:{'name':'Ram','age':18,'add':'kathmandu'},
        2:{'name':'shyam','age':20,'add':'bhaktapur'},
        3:{'name':'hillson','age':21,'add':'jhapa'},}
print(info)

{1: {'name': 'Ram', 'age': 18, 'add': 'kathmandu'}, 2: {'name': 'shyam', 'age': 20, 'add': 'bhaktapur'}, 3: {'name': 'hillson', 'age': 21, 'add': 'jhapa'}}

In [8]:
info[1]

{'name': 'Ram', 'age': 18, 'add': 'kathmandu'}

In [ ]:
info = {}
n = int(input("Enter n: "))
for i in range(1,n+1):
    name = input("Enter name: ")
    age = input("Enter age: ")    
    address = input("Enter address: ")
    d = {'name':name,'age':age,'address':address}
    l.append(d)
    info[i]= d
print(info)

Enter n: 2
Enter name: s
Enter age: 4243
Enter address: rfw

In [ ]:
info[]['addm'] = {'name':'hillson','age':21,'add':'jhapa'}
print(info)

In [1]:
# # Tuple
# indexing
# ordered
# multiple and dublicate data
# imutable

In [2]:
t = tuple()

In [8]:
t = ("Apple","Ball","Cat","Dog")
print(type(t))
print(t)

<class 'tuple'>
('Apple', 'Ball', 'Cat', 'Dog')

In [5]:
t = ("Apple",)
print(type(t))

<class 'tuple'>

In [7]:
t = ("Apple","Ball","Cat","Dog")
print(t[3])

Dog

In [9]:
# no append() insert() extend()
# no update
# no del remove() pop()
# no sort()

In [10]:
a = (1,2,3,4,5,6)
b = (9,8,7,1,4,6)
c = a+b
print(c)

(1, 2, 3, 4, 5, 6, 9, 8, 7, 1, 4, 6)

In [3]:
a = tuple()
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    a = a + (x,)
    
print(a)

Enter n = 2
Enter x = 23
Enter x = 43
(23, 43)

In [4]:
print(max(a))
print(min(a))
print(sum(a))

43
23
66

In [6]:
t = ("Apple","Ball","Cat","Dog")
t = list(t)
del t[0]
t = tuple(t)
print(t)

('Ball', 'Cat', 'Dog')

In [10]:
a = "Apple"
print(tuple(a))
print(list(a))

('A', 'p', 'p', 'l', 'e')
['A', 'p', 'p', 'l', 'e']

In [11]:
# # set
# no indexing
# unordered
# multiple but no duplicate data
# mutable

In [12]:
# s = set()

In [18]:
s = {"Hillson","Diaz","Sachin","Aadesh"}
print(type(s))
print(s)

<class 'set'>
{'Aadesh', 'Sachin', 'Hillson', 'Diaz'}

In [19]:
s = {"Hillson","Diaz","Sachin","Aadesh",'Hillson'}
print(s)

{'Aadesh', 'Sachin', 'Hillson', 'Diaz'}

In [21]:
s = {1}
print(type(s))

<class 'set'>

In [23]:
s = set()
s.add("Dog")
s.add("Ball")
s.add("Apple")
print(s)

{'Apple', 'Ball', 'Dog'}

In [24]:
a = set()
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    a.add(x)
    
print(a)

Enter n = 2
Enter x = 4
Enter x = 3
{3, 4}

In [25]:
a = {1,2,3,4,0}
b = {9,7,8,6,5}
a.update(b)
print(a)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [31]:
s = {0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
s.remove(4)
print(s)

{0, 1, 2, 3, 5, 6, 7, 8, 9}

In [32]:
a = {1,2,3,4,5}
b = {4,9,8,7,6}
i = a.intersection(b)
print(i)

{4}

In [33]:
a = {1,2,3,4,5}
b = {4,9,8,7,6}
i = a.union(b)
print(i)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [34]:
print(a - b)

{1, 2, 3, 5}

In [35]:
print(b-a)

{8, 9, 6, 7}

In [36]:
u = {0,1,2,3,4,5,6,7,8,9}
a = {1,2,3,4,5}
b = {4,9,8,7,6}
i = a.union(b)
print(u-i)

{0}

In [37]:
# inside set
# - no list
# - no dict
# - no set

In [38]:
a = {"Hillson","K.C"}
b = {(1,2),(3,4),(4,5)}
a.update(b)
print(a)

{(4, 5), (1, 2), 'Hillson', (3, 4), 'K.C'}

In [1]:
# # function
# -pre defined functions
# -user defined functions

In [2]:
# pre defined function
# print() int() float() str() list() tuple() set() dict()
# It is used to call

In [3]:
# def <function name>:
#     <operations>
    
# <funciton_name()>

In [4]:
def hello():    #defining a function
    print("Hello world")
hello()        # calling the function

Hello world

In [6]:
def area():
    l = int(input("Enter l = ")) #local variables
    b = int(input("Enter b = ")) #local variables
    a = l*b
    print(a)
area()

Enter l = 2
Enter b = 3
6

In [8]:
def area():
    a = l*b
    print(a)
l = int(input("Enter l = ")) #global variables
b = int(input("Enter b = ")) #global variables
area()

Enter l = 2
Enter b = 3
6

In [9]:
# functions with arguments
def area(l,b): #parameters
    a = l*b
    print(a)
    
area(10,5) #arguments

50

In [10]:
def area(x,y):
    a = x*y
    print(a)
l = int(input("Enter l = ")) #global variables
b = int(input("Enter b = ")) #global variables
area(l,b)

Enter l = 2
Enter b = 3
6

In [12]:
def info(name,age,add):
    print(f"Hello world i am {name}. I am from {add}. I am {age} years old.")
name = input("Enter name: ")
age = int(input("Enter age: "))
add = input("Enter address: ")
info(name,age,add)

Enter name: Hillson K.C
Enter age: 21
Enter address: Gauradaha
Hello world i am Hillson K.C. I am from Gauradaha. I am 21 years old.

In [16]:
def info(l):
    x,y,z = l
    print(f"Hello world i am {x}. I am from {y}. I am {z} years old.")
name = input("Enter name: ")
age = int(input("Enter age: "))
add = input("Enter address: ")

l = [name,age,add]
info(l)

Enter name: Hillson K.C
Enter age: 21
Enter address: Jhapa
Hello world i am Hillson K.C. I am from 21. I am Jhapa years old.

In [17]:
def language(lan = "Python"):
    print(lan)
language("c")
language("java")
language("c#")
language("c++")
language()

c
java
c#
c++
Python

In [2]:
# Return type function
def area():
    l = 10
    b = 3
    a = l*b
    return a
# print(area())
ar = area()
h = 4
v = ar*h
print("Volume = ",v)

Volume =  120

In [1]:
# Return type function with arguments
def cal(l,b,h):
    a = l*b
    v = a*h
    return a,v

l = int(input("Enter l = "))
b = int(input("Enter b = "))
h = int(input("Enter h = "))

# print(area())
area,volume = cal(l,b,h)
print("area = ",area)
print("Volume = ",volume)

Enter l = 3
Enter b = 4
Enter h = 5
area =  12
Volume =  60

In [3]:
# make a calculator using function call method
def add(a,b):
    return a+b
def sub(a,b):
    return a-b
def mul(a,b):
    return a*b
def div(a,b):
    return a/b


def call():
    a = int(input("Enter a = "))
    b = int(input("Enter b = "))    
    c = input("Enter + or - or * or / ") 
    if c == "+":
        print(add(a,b))
    elif c == "-":
        print(sub(a,b))
    elif c == "*":
        print(mul(a,b))
    elif c == "/":
        print(div(a,b))
    else:
        print("Enter Valid operator")
call()

Enter a = 3
Enter b = 4
Enter + or - or * or / +
7

In [ ]:
#