In [1]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Obtaining dependency information for mysql-connector-python from https://files.pythonhosted.org/packages/26/20/5a3bba5751e6fd5da6d2dd759e398f23ed43525fbb4729eda06df929498e/mysql_connector_python-8.3.0-cp311-cp311-macosx_13_0_arm64.whl.metadata
  Downloading mysql_connector_python-8.3.0-cp311-cp311-macosx_13_0_arm64.whl.metadata (1.9 kB)
Downloading mysql_connector_python-8.3.0-cp311-cp311-macosx_13_0_arm64.whl (15.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 15.3/15.3 MB 38.0 kB/s eta 0:00:0000:0100:12
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.3.0

In [13]:
import mysql.connector     #importing database
database = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "python class"
)
db = database.cursor()

In [3]:
db.execute("SELECT * FROM student")
result =db.fetchall()
for x in result:
    print(x)

(1, 'Rama', 89, 98, 85, 67, 89, 420, 82.5, 'A')
(3, 'Nabin', 82, 84, 85, 98, 89, 430, 88.5, 'A')
(4, 'Shiva', 49, 57, 25, 98, 89, 400, 70.0, 'A')
(8, 'Ram', 78, 79, 93, 67, 78, 415, 83.5, 'A')
(10, 'Sameer', 89, 67, 80, 98, 89, 412, 82.5, 'A')
(11, 'Rama', 89, 45, 65, 87, 78, 364, 72.8, 'B')
(12, 'Ram', 87, 90, 65, 78, 87, 407, 81.4, 'A')
(13, 'Gauri', 98, 78, 90, 87, 78, 431, 86.2, 'A')
(40, 'Hari', 89, 89, 89, 78, 87, 412, 83.0, 'A')

In [4]:
db.execute("SELECT * FROM student WHERE grade = 'B'")
result =db.fetchall()
for x in result:
    print(x)

(11, 'Rama', 89, 45, 65, 87, 78, 364, 72.8, 'B')

In [5]:
# insert 
sql = '''INSERT INTO `Myfirstsql` (`S.N`, `Name`, `maths`, `science`, `social`, `english`, `nepali`, `physics`, `chemistry`, `Total`, `Percentage`)
VALUES ('6', 'suyog', '50', '88', '66', '77', '89', '34', '67', '200', '77');'''
db.execute(sql)
database.commit()

IntegrityError: 1062 (23000): Duplicate entry '6' for key 'PRIMARY'

import mysql.connector

database = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",  # Make sure to use the correct password
    database="class 3 pm"
)
db = database.cursor()

name = input("Enter your name: ")
english = int(input("Enter English marks: "))
math = int(input("Enter Maths marks: "))
physics = int(input("Enter Physics marks: "))
chemistry = int(input("Enter Chemistry marks: "))
nepali = int(input("Enter Nepali marks: "))

total = english + math + physics + chemistry + nepali
per = total / 5

if per >= 80:
    grade = "A"
elif per >= 60:
    grade = "B"
elif per >= 45:
    grade = "C"
else:
    grade = "F"

sql = '''INSERT INTO student (name, physics, english, math, chemistry, nepali, total, per, grade)
VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)'''

vals = (name, physics, english, math, chemistry, nepali, total, per, grade)

db.execute(sql, vals)
database.commit()
print(f"Inserted {db.rowcount} record(s) into the database.")

# Don't forget to close the cursor and connection when done.
db.close()
database.close()