In [4]:
import mysql.connector

database = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",  # Make sure to use the correct password
    database="python class"
)
db = database.cursor()

name = input("Enter your name: ")
english = int(input("Enter English marks: "))
math = int(input("Enter Maths marks: "))
physics = int(input("Enter Physics marks: "))
chemistry = int(input("Enter Chemistry marks: "))
nepali = int(input("Enter Nepali marks: "))

total = english + math + physics + chemistry + nepali
per = total / 5

if per >= 80:
    grade = "A"
elif per >= 60:
    grade = "B"
elif per >= 45:
    grade = "C"
else:
    grade = "F"

sql = '''INSERT INTO student (name, physics, english, math, chemistry, nepali, total, per, grade)
VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)'''

vals = (name, physics, english, math, chemistry, nepali, total, per, grade)

db.execute(sql, vals)
database.commit()
print(f"Inserted {db.rowcount} record(s) into the database.")

# Don't forget to close the cursor and connection when done.
db.close()
database.close()

Enter your name: hillson
Enter English marks: 34
Enter Maths marks: 54
Enter Physics marks: 66
Enter Chemistry marks: 75
Enter Nepali marks: 65
Inserted 1 record(s) into the database.

In [7]:
# update
import mysql.connector

database = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",  # Make sure to use the correct password
    database="python class"
)
db = database.cursor()

subject = input("Enter subject = ")
marks = int(input("Enter marks = "))
sn = int(input("Enter sn = "))

sql = f"UPDATE student SET {subject} = {marks} WHERE student.sn = {sn}"
db.execute(sql)
database.commit()

Enter subject = math
Enter marks = 54
Enter sn = 1

In [8]:
print(sql)

UPDATE student SET math = 54 WHERE student.sn = 1

In [10]:
#delete
sn = int(input("Enter sn = "))
sql = f"DELETE FROM student WHERE sn= {sn}"
db.execute(sql)
database.commit()

Enter sn = 8